body {
  padding: 50px;
  font: 14px "monospace", "serif", sans-serif ;
}

a {
  color: #00B7FF;
}

form{
  padding: 20px 5px 40px 5px;

}

#result{
  display: none;
  list-style: none;
  margin-left: 0;
  padding: 5px;
}
#result>li{
  margin-bottom: 10px;
}

#notes>li{
  position: relative;
  cursor: pointer;
}

#notes>li:hover{
  background-color: #d9534f;
  color: white;
}
#notes>li:hover:after{
  position: absolute;
  content: 'X';
  right: 10px;
}

#notes>.list-group-item{
  padding: 6px 15px;
}

.content{
  margin-left: auto;
  margin-right: auto;
  width: 370px;
}